<div class="ps-relative">
  <%= image_tag '/assets/main-logo.png', class:"filter-img page-detail-header-bg" %>
  <div class="ps-absolute page-detail-header-contents-wrapper">
    <h2 class="page-detail-header">質問をしてみよう！</h2>
    <div class="page-detail-header-contents">
      <p>TRYしてみてわからなかった事や、不安な作業に入る前に聞いてみましょう！</p>
      <p>最低限のマナーを守りましょう！誹謗中傷など人に対して攻撃するような真似は絶対にしないでください</p>
      <p>また、トラブルの元となる可能性があるため個人情報などは控えるようお願いいたします</p>
    </div>
  </div>
</div>
<div class="new-question-form card mx-auto mt-5 mb-80">
  <div class="card-body">
    <h3 class="mt-1 mb-3 text-center">質問を新規作成する</h3>
    <%= render 'form', question: @question %>
  </div>
</div>
