<div id="carouselExampleIndicators" class="carousel slide carousel-fade" style="z-index: 0;" data-ride="carousel" data-interval="2000" data-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="filter">
        <%= image_pack_tag 'bike2.jpg', class: "d-block w-100 filter-img" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="filter">
        <%= image_pack_tag 'engine.jpg', class: "d-block w-100 filter-img" %>
      </div>
    </div>
    <div class="carousel-item">
      <div class="filter">
        <%= image_pack_tag 'garage.jpg', class: "d-block w-100 filter-img" %>
      </div>
    </div>
  </div>
</div>
