<div id="carouselExampleIndicators" class="carousel slide carousel-fade" style="z-index: 0;" data-ride="carousel" data-interval="2000" data-pause="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="filter">
        <img src="/assets/bike2.jpg" class="d-block w-100 filter-img" alt="...">
      </div>
    </div>
    <div class="carousel-item">
      <div class="filter">
        <img src="/assets/engine.jpg" class="d-block w-100 filter-img" alt="...">
      </div>
    </div>
    <div class="carousel-item">
      <div class="filter">
        <img src="/assets/bike3.jpg" class="d-block w-100 filter-img" alt="...">
      </div>
    </div>
  </div>
</div>
