<div class="about-logo-wrapper content-width">
  <%= image_pack_tag 'main-logo.png', class: "about-logo" %>
</div>

<div class="content-width">
  <h2 class="about-contents-header">CONCEPT</h2>
  <div class="about-contents-wrapper">
    <p class="about-contents-title">バイクメンテナンスに携わるすべての人に</p>
    <p class="about-contents-body">
      Bikers-QAはバイクメンテナンスに携わる方々にとって役に立ち、多くの情報が集まる場を提供したい気持ちから生まれました
    「技術は見て盗むもの」
    それは確かにとても重要です
    しかし知識を持って見るのと、持たずに見るのとでは違いがあります
    １から整備を初めてみたい、自身の技術力を高めたいと考えている方々にとって最高の場を提供することが出来れば
    新たな世界が広がると期待しています。
    </p>

    <p class="about-contents-title">新たなつながりを</p>
    <p class="about-contents-body">
    メンテナンスは基本的にバイクと一対一で行う事が多いと思います。
    しかしBikers-QAはその概念を乗り越え
    より効率的に、楽しく整備が出来るようにバイクと一対多の関係を作れる場でありたい
    記事を書いたり、質問したりすることにだけに留まらず
    Bikers-QAを通してあなたのコミュニティが広がるきっかけになり
    あなたのバイクライフがより充実する事をサポートして行くことが目的です</p>

    <p class="about-contents-title">Bikers-QAの強み</p>
    <p class="about-contents-body">
      多くのメンテナンス情報共有サイトでは車が主役です
      それに対しBikers-QAではカテゴリーをバイクに絞ることにより
      知りたい情報へのアクセスを容易化し、
      必要のないコンテンツを避ける事ができます
      また車とバイクの世界は似て非なるもの
      他の世界に干渉されず、バイクメンテナンスの世界を
      ゆっくりとお楽しみください
    </p>
  </div>
</div>
