<!-- carousel -->
<div class="ps-relative">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade" style="z-index: 0;" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" style="height: 600px;">
      <div class="carousel-item active">
        <div class="filter">
          <img src="/assets/bike1.jpg" class="d-block w-100 filter-img" alt="...">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>...</h5>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <img src="/assets/bike2.jpg" class="d-block w-100 filter-img" alt="...">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>...</h5>
          <p>...</p>
        </div>
      </div>
      <div class="carousel-item">
        <div class="filter">
          <img src="/assets/bike3.jpg" class="d-block w-100 filter-img" alt="...">
        </div>
        <div class="carousel-caption d-none d-md-block">
          <h5>...</h5>
          <p>...</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <% if user_signed_in? %>
  <% else %>
    <div class="ps-absolute" style="top: 30%; left: 60%;">
      <div class="content-width">
        <%= link_to new_user_registration_path do %> 
          <button type="button" class="btn btn-outline-primary mb-20" style="width: -webkit-fill-available;">メールアドレスで登録</button>
        <% end %>
        <p class="subtitle-font under-line mb-30">SNSと連携して新規登録する</p>
        <%= link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, class: "btn btn-outline-primary sns-entry-btn", method: :post %>
        <%= link_to 'Twitterで登録', user_twitter_omniauth_authorize_path, class: "btn btn-outline-secondary sns-entry-btn", method: :post %>
        <%= link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, class: "btn btn-outline-success sns-entry-btn", method: :post %>
      </div>
    </div>
  <% end %>
</div>


