<div class="explanation-of-input-method card mb-80">
  <%= image_tag '/assets/site-logo', class: "header-logo" %>
  <h4>プロフィール画像</h4>
  <p>変更する場合はクリックして使用する画像を選択してください</p>
  <p>変更しない場合はデフォルトの画像が適用されます</p>
  <h4>名前</h4>
  <p>無記入・５０文字以上の入力はできません</p>
  <p>個人情報の保護のため、本名は入力しないことをおすすめいたします</p>
  <h4>自己紹介の入力</h4>
  <p>５００文字以内で入力してください</p>
  <p>ここで記入しなくても編集ページで追加することができます</p>
  <h4>メールアドレス</h4>
  <p>有効なメールアドレスを入力してください</p>
  <p>既に登録されているメールアドレスは使用できません</p>
  <p>ログイン時に使用するため、忘れないメールアドレスを使用してください</p>
  <h4>パスワード</h4>
  <p>６〜２０文字以内で入力してください</p>
  <p>確認のため、同じパスワードを入力してください</p>
</div>
