<div class="page-detail-header-wrapper">
  <%= image_pack_tag 'main-logo.png', class:"filter-img page-detail-header-bg" %>
  <div class="ps-absolute page-detail-header-contents-wrapper">
    <h2 class="page-detail-header">気になるタグから記事探そう！</h2>
    <div class="page-detail-header-contents">
      <p>指定したタグをキーワードに記事を検索しています</p>
      <p>より速く自身にとって有益な情報へアクセスすることで</p>
      <p>効率的に知識を蓄え、整備へのモチベーションを高めましょう♪</p>
    </div>
  </div>
</div>
<div class="article-index-main-contents">
  <div class="content-width">
    <%= render partial: "shared/article_index", collection: @articles, as: "article" %>
  </div>
</div>
