<div class="article-index-main-contents">
  <div class="content-width" style="width: 60%;">
    <%= render partial: "shared/article_index", collection: @articles, as: "article" %>
    <%= paginate @articles %>
  </div>
</div>
