@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import 'tagsinput';

//=========== BASE STYLE ============
html {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', 'Meiryo', sans-serif;
  color: #222222;
}
@media screen and (max-width: 767px) {
  html {
    font-size : 15px;
  }
}

input, select, textarea {
  color: #222222;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  background-color : white;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #fbfbfb;
}

img {
  vertical-align : middle;
}

header {
  height: 50px;
}

.content-width {
  max-width : 1140px;
  padding-left : 50px;
  padding-right : 50px;
  margin-left : auto;
  margin-right : auto;
  position : relative;
}

.contents-tidy {
  display : flex;
  justify-content : space-between;
}

// ========= エイリアス ===========
.mt-10 {
  margin-top: 10px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-80 {
  margin-top: 80px;
}

.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-80 {
  margin-bottom: 80px;
}

.ml-10 {
  margin-left: 10px;
}
.ml-20 {
  margin-left: 20px;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}
.f-right {
  float: right;
}
//==============================
// deviseエラーメッセージの色
#error_explanation {
  color: red;
}
// validation エラーメッセージの調整
.error-messages {
  color: red;
  list-style : none;
}
.error-message-wrapper {
  margin-bottom: 36px;
}
// ActionText 入力欄の調整
.trix-content {
  min-height: 200px;
}
// kaminariの位置調整
.pagination {
  justify-content: center;
  margin-top: 35px;
}

.under-line {
  border-bottom: 2px solid beige;
}
//===========flex-contents =========
.flex-contents-wrapper {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}
.flex-contents-left-section {
  position: sticky;
  top: 90px;
  background-color: white;
}
.flex-contents-center-section {
  padding-top: 30px;
  padding-bottom: 80px;
  flex-grow: 1;
  width: 0;
  min-width: 0;
  min-height: 500px;
}
.flex-contents-right-section {
  background-color: white;
  margin-top: 67px;
}
.flex-center {
  display: flex;
  justify-content: center;
}
//============ falsh ===============
.flash-wrapper {
  position: fixed;
  top: 80px;
  width: 100%;
  z-index: 10;
}
.flash-content-wrapper {
  width: fit-content;
  margin: 0 auto;
}
.flash {
  padding: 9px 60px;
  font-weight: bold;
  color: gray;
}
.flash-notice {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
.flash-alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
//========== navber ================
.navber-profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.navber-username {
  font-size: 13px;
  font-weight: bold;
}
.navbar-custom {
  position: fixed;
  justify-content: space-around;
  width: 100%;
  z-index: 1;
}
//==== left-section-editer =======
.left-section-editer {
  position: fixed;
  top: 100px;
  left: 20px;
  width: 130px;
  z-index: 10;
  background-color: white;
}
.left-section-editer ul > li + li {
  margin-top: 20px;
}
.left-section-editer-icon {
  font-size: 30px;
}
.left-section-editer-favorite-icon {
  color: #ef60ff;
}
//============ icon ================
.profile-image {
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  border-radius: 50%;
}
.favorite-icon {
  color: #ef60ff;
}
.favorites-icon {
  color: #ef60ff;
  font-size: 17px;
  margin-right: 5px;
}
.favorite-icon-post-details {
  font-size: 15px;
  color: #ef60ff;
}
.tag-icon {
  height: 25px;
  color: gray;
  margin-right: 10px;
}
.index-comment-icon {
  font-size: 20px;
  margin-right: 5px;
}
// ========= 通知用 ==========
.no-nitification-text {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
}
.bell {
  color: #ffe048;
  margin-right: 10px;
  font-size: 1.5em
}
//========== 記事表示部 =============
.card-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
}
.author-header {
  color: #696468;
  font-size: 12px;
}
.author-header-show {
  color: #696468;
  font-size: 12px;
}
.show-reply-contents-wrapper {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #c1c1c1;
}
.replay-header {
  font-size: 20px;
  padding-bottom: 14px;
  margin-bottom: 25px;
  border-bottom: 1px solid #bfbfbf;
}
.replay-submit-btn {
  float: right;
}
//=========== footer ==============
.footer-bgc {
  background-color: #525252;
}
.footer-style {
  color :#f8d7da;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer-left {
  margin-left: 20px;
}
.footer-right {
  padding-right: 20px;
}
.footer-right a {
  display: block;
  color: inherit;
}
.footer-right > a + a {
  margin-top: 10px;
}
//========== tooltip ============
// bootstrapのtooltipが使用不可のためcssで作成
.tooltip2{
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.tooltip2 p{
  margin:0;
  padding:0;
}
.description2 {
  display: none;
  position: absolute;
  padding: 10px;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #000;
  width: 100px;
}
.description2:before {
  content: "";
  position: absolute;
  top: 0%;
  right: 95%;
  border: 15px solid transparent;
  border-top: 15px solid #000;
  margin-left: -15px;
  transform: rotateZ(90deg);
}
.tooltip2:hover .description2{
  display: inline-block;
  top: 0px;
  left: 50px;
}
