// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//=========== icon =============
.favorites-icon {
  color: #ef60ff;
}
//=========== article/index ==============
.article-index-main-contents {
  padding-top: 30px;
  padding-bottom: 80px;
}
.article-index-main-contents .article-title-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.author-header {
  color: #696468;
  font-size: 12px;
}
//========== article/show ================
.article-show-main-contents {
  padding-top: 30px;
  padding-bottom: 80px;
}
.article-show-main-contents .article-title-text {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.author-header-show {
  color: #696468;
  font-size: 12px;
}
.favorite-icon-show {
  font-size: 15px;
  color: #ef60ff;
}
.article-body-show {
  font-size: 15px;
  margin-top: 46px;
}
.comment-text-area {
  width: 100%;
}
.comment-btn {
  float: right;
}
.comment-icon {
  font-size: 20px;
  margin-right: 5px;
}