// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//======= トップページのcardのアニメーション ========
.effect-fade {
  opacity : 0;
  transform : translate(0, 45px);
  transition : all 2000ms;
}
.effect-fade.effect-scroll {
  opacity : 1;
  transform : translate(0, 0);
}
//======== home/index ===========
//========= carousel ============
// carouselの画像を暗くする
.filter {
  background: #000;
}
.filter-img {
  display: block;
  opacity: .2;
}
// carouselに新規登録欄を載せる
.ps-relative {
  position: relative;
}
.ps-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.subtitle-font {
  color: white;
  font-weight: bold;
  text-align: center;
}
.carousel-on-text {
  color: white;
  font-weight: bold;
}
// ログイン後
.calousel-on-card-img {
  width: 190px;
  margin: 0 auto;
  height: 160px;
}
.card-title-custom {
  text-align: center;
  font-weight: bold;
  font-size: 23px;
}
//========= main-contents ===========
.main-contents {
  padding-top: 30px;
  padding-bottom: 80px;
}
.main-contents .article-title-text {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.new-article-icon {
  color: yellow;
  font-size: 30px;
  margin-right: 10px;
}
//========== runking =============
.ranking-wrapper {
  margin: 0 auto;
  width: 22.5rem;
  height: fit-content;
}
.each-ranking-wrapper {
  padding: 10px 13px;
  background-color: white;
}
.ranking-style {
  margin-bottom: 3px;
  padding-bottom: 6px;
  align-items: baseline;
  border-bottom: 1px solid gray;
}
.ranking-count-font {
  font-weight: bold;
  font-size: 16px;
}

//========== home/about ============
.about-contents-header {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #2d9087;
}
.about-contents-title {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
.about-contents-wrapper {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.about-contents-body {
  font-size: 15px;
  line-height: 1.8;
}
