// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//========= carousel ============
// carouselの画像を暗くする
.filter {
  background: #000;
}
.filter-img {
  display: block;
  opacity: .2;
}
// carouselに新規登録欄を載せる
.ps-relative {
  position: relative;
}
.ps-absolute {
  position: absolute;
  top: 0;
  left: 0;
}
.subtitle-font {
  color: white;
  font-weight: bold;
  text-align: center;
}
.carousel-on-text {
  color: white;
  font-weight: bold;
}
//========= main-contents ===========
.main-contents {
  padding-top: 30px;
  padding-bottom: 80px;
}
.main-contents .article-title-text {
  font-size: 20px;
  font-weight: bold;
}
.new-article-icon {
  color: yellow;
  font-size: 30px;
  margin-right: 10px;
}
//========== runking =============
.ranking-wrapper {
  margin: 0 auto;
  width: 22.5rem;
  height: fit-content;
}
.each-ranking-wrapper {
  padding: 10px 13px;
  background-color: white;
}
.ranking-style {
  margin-bottom: 3px;
  padding-bottom: 6px;
  align-items: baseline;
  border-bottom: 1px solid gray;
}
.ranking-count-font {
  font-weight: bold;
  font-size: 16px;
}
