// 画像登録時のプレビュー
.my_bike_picture {
  width: 230px;
  height: 230px;
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}
// user/showで表示される部分
.my_bike_name {
  font-size: 18px;
  font-weight: bold;
}
.my_bike_edit_btn {
  display: block;
  margin-top: 30px;
}
.user-show .my-bike {
  background-color: white;
}
