// Place all the styles related to the Nofitications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media screen and (max-width: 830px) {
  .notification-index.flex-contents-left-section {
    display: none;
  }
  .notification-index.delete-btn {
    text-align: center;
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 830px) {
  .notification-index.delete-btn {
    display: none;
  }
}