// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

//=========== question/new ==============
.form-question-title {
  width: 60%;
}
//=========== question/index ==============
.question-index-main-contents {
  padding-top: 30px;
  padding-bottom: 80px;
}
.new-question-form {
  flex: 0 0 50%;
  max-width: 80%;
}
.answer-count-icon {
  font-size: 17px;
  margin-right: 2px;
}
