//==================== room/show =======================
.dmr-header-bg {
  height: 250px;
  margin: 0 auto;
}
.dmr-header {
  text-align: center;
  margin-top: 56px;
  margin-bottom: 20px;
}
.dmr-header-contents-wrapper {
  top: 6px;
  width: 100%;
}
.dmr-header-contents {
  text-align: center;
  font-size: 16px;
}
.left-section-dmr-name {
  font-size: 20px;
  border-bottom: 1px solid #d6d4d4;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.room-delete-btn {
  width: 100%;
  margin-top: 30px;
}
