// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.f-right {
  float: right;
}

.edit-user-btn {
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: 25px;
}

.follow-btn {
  color: blue;
  margin-right: 100px;
  margin-top: 25px;
}
