// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.edit-user-btn {
  width: 100%;
  margin-top: 20px;
}
.move-dm-room-btn {
  font-weight: bold;
  margin-top: 20px;
}
//========= users/new ============
.form-user-name {
  width: 37%;
}
.form-user-email {
  width: 55%;
}
.form-user-profile {
  width: 100%;
  margin: 20px 0;
  cursor: pointer;
}
.form-user-password {
  width: 55%;
}
.explanation-of-input-method {
  margin-top: 3rem !important;
  width: 25%;
  padding: 0 16px;
}
.explanation-of-input-method h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

//========= users/show ============
.username-font {
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 2px solid #dcdcdc;
}
.relationship-link-text {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
.user-show-indextitle {
  font-weight: bold;
}
.invite-dmroom-text {
  margin-top: 17px;
  line-height: 1.8;
  font-size: 16px;
  margin-bottom: 20px;
}
.user-profile-action-btns {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
//========== users/edit =============
.edit-profile {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

//========= users/follows followers ==========
.follow-contents-index-style {
  background-color: white;
  width: 60%;
}
.follow-contents-header {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.follow-contents-header-icon{
  color: #6283ff;
}
.follow-contents-index-wrapper .follow-contents-index:last-child {
  border-bottom: initial;
}
.follow-contents-index {
  border-bottom: 1px solid #dcdcdc;
  margin: 24px 20px;
  padding-bottom: 30px;
}
.follow-contents-username {
  font-size: 17px;
  font-weight: bold;
}


.sns-relation-header {
  font-weight: bold;
  text-align: center;
}
.new-user-form {
  flex: 0 0 50%;
  max-width: 80%;
}
.form-user-registrations {
  width: 80%;
}

// =============== メディアクエリ ================
@media screen and (max-width: 730px) {
  .user-show.flex-contents-wrapper {
    margin-top: 40px;
  }
  .user-show .flex-contents-left-section {
    position: initial;
    width: 60%;
    margin: 0 auto;
  }
  .user-show .flex-contents-left-section .card-body {
    width: 80%;
    margin: 0 auto;
  }
  .user-show .flex-contents-center-section {
    width: initial;
  }
}
@media screen and (min-width: 730px) {
  .user-show .flex-contents-left-section .card-body {
    width: 265px;
  }
}
@media screen and (max-width: 767px) {
  .form-user-registrations {
    margin-left: auto;
    margin-right: auto;
  }
  .explanation-of-input-method {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .new-user-relation-btns {
    display: grid;
  }
  .new-user-relation-btns > a + a {
    margin-top: 15px;
  }
  .user-show .flex-contents-right-section {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .move-to-dm-room-btn.sp {
    display: none;
  }
}
@media screen and (max-width: 930px) {
  .new-user-select-menu {
    display: none;
  }
}
