// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.f-right {
  float: right;
}

.edit-user-btn {
  width: 100%;
  margin-top: 20px;
}
.follow-btn {
  font-weight: bold;
  margin-top: 20px;
}
//========= users/show ============
.username-font {
  font-weight: bold;
  text-align: center;
  padding-bottom: 12px;
  border-bottom: 2px solid #dcdcdc;
}
.relationship-link-text {
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}
//========== users/edit =============
.edit-profile {
  width: 100%;
  margin-top: 20px;
  cursor: pointer;
}

//========= users/follows followers ==========
.follow-contents-index-style {
  background-color: white;
  width: 60%;
}
.follow-contents-header {
  padding-top: 20px;
  padding-left: 15px;
  font-size: 18px;
  font-weight: bold;
}
.follow-contents-header-icon{
  color: #6283ff;
}
.follow-contents-index-wrapper .follow-contents-index:last-child {
  border-bottom: initial;
}
.follow-contents-index {
  border-bottom: 1px solid #dcdcdc;
  margin: 24px 20px;
  padding-bottom: 30px;
}
.follow-contents-username {
  font-size: 17px;
  font-weight: bold;
}
