<!-- articles/show内のお気に入り ON OFF機能(Ajax) -->
<% if user_signed_in? %>
  <% if article.favorited_by?(current_user) %>
    <p>
      <%= link_to article_favorites_path(article.id), method: :delete, remote: true do %>
        <i class="fas fa-heart favorites-icon"></i>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to article_favorites_path(article.id), method: :post, remote: true do %>
        <i class="far fa-heart favorites-icon"></i>
      <% end %>
    </p>
  <% end %>
<% end %>
